<div>
    <h2>Get BEERS !</h2>
    <div class="cards-container">
        {{#each beers}}
        <div class="card" >
            <img src="{{this.image_url}}" class="card-img-top" alt="{{this.name}}">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{this.tagline}}</p>
                <a href="#" class="btn btn-primary">More</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>
  