--root {
  white: #f7f9f9;
  light-blue: #2081c3;
  dark-blue: #0a2c42;
  grey: #bfbfbf;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  font-family: var(--root);
}
body {
  /* background-color: red; */
}

div.cards-container {
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: baseline;
  align-items: baseline;
}
div.cards-container .card {
  width: 15rem;
}

.card.random-beer {
  width: 50%;
  margin: auto;
  border: 2px solid goldenrod;
}
